body{

margin:0;
font-family:Arial;
background:#111;
color:white;
overflow-x:hidden;
}

/* HERO */

.hero{

height:100vh;

background:
linear-gradient(
rgba(0,0,0,0.6),
rgba(0,0,0,0.7)
),

url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");

background-size:cover;
background-position:center;

}

/* NAV */

nav{

display:flex;

justify-content:space-between;

padding:30px 70px;

align-items:center;
}

.logo{

letter-spacing:10px;
}

nav ul{

display:flex;
gap:50px;

list-style:none;
}

/* HERO */

.hero-content{

padding:120px 70px;
}

.left h2{

font-size:80px;
margin:0;
font-family:Georgia;
}

.left p{

font-size:28px;
width:700px;

color:#ddd;
}

.left button{

margin-top:30px;

padding:20px 60px;

border:none;

border-radius:50px;

background:white;

font-size:20px;

cursor:pointer;
}

/* SERVICES */

.services{

padding:100px 80px;
background:#181818;
}

.cards{

display:flex;
gap:30px;
margin-top:40px;
}

.card{

background:#222;

padding:40px;

border-radius:25px;

width:300px;
}

/* CONTACT */

.contact{

padding:100px 80px;
background:#111;

display:flex;
flex-direction:column;

gap:20px;
}

.contact input,
.contact textarea{

padding:20px;

border:none;

border-radius:15px;

background:#222;
color:white;

font-size:18px;
}

.contact textarea{

height:150px;
}

.contact button{

padding:20px;

border:none;

border-radius:15px;

background:#1677ff;

color:white;

font-size:20px;
}

/* FOOTER */

footer{

padding:40px;

text-align:center;

background:black;
}

/* FLOATING BUTTON */

.floating-btn{

position:fixed;

right:30px;
bottom:30px;

width:80px;
height:80px;

border-radius:50%;

background:black;

display:flex;
justify-content:center;
align-items:center;

font-size:40px;
font-weight:bold;

cursor:pointer;

border:2px solid #4ea1ff;

box-shadow:
0 0 20px #1677ff,
0 0 50px rgba(22,119,255,0.8);

z-index:999;
}

/* CHAT */

.chat-panel{

position:fixed;

right:30px;
bottom:130px;

width:400px;
height:650px;

background:#0f0f0f;

border-radius:35px;

border:1px solid #1677ff;

box-shadow:
0 0 30px rgba(22,119,255,0.4);

display:flex;
flex-direction:column;

overflow:hidden;

transform:scale(0);

opacity:0;

transition:0.3s;

transform-origin:bottom right;

z-index:999;
}

.chat-panel.active{

transform:scale(1);
opacity:1;
}

.chat-header{

padding:20px;

display:flex;

align-items:center;

gap:15px;

border-bottom:
1px solid rgba(255,255,255,0.1);
}

.chat-logo{

width:55px;
height:55px;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

background:black;

border:2px solid #1677ff;

font-size:28px;

box-shadow:
0 0 15px #1677ff;
}

.online{

color:#45ff7d;
margin-top:-10px;
}

.close-btn{

margin-left:auto;

font-size:40px;

cursor:pointer;
}

.chat-body{

flex:1;

padding:20px;

overflow-y:auto;
}

.ai-row{

display:flex;

gap:12px;

margin-bottom:20px;
}

.mini-logo{

width:40px;
height:40px;

border-radius:50%;

background:black;

border:2px solid #1677ff;

display:flex;
justify-content:center;
align-items:center;
}

.ai-message{

background:#1c1c1c;

padding:16px 20px;

border-radius:20px;

max-width:240px;
}

.user-message{

margin-left:auto;

background:#1677ff;

padding:16px 20px;

border-radius:20px;

width:fit-content;
}

.chat-input{

display:flex;

padding:20px;

gap:10px;
}

.chat-input input{

flex:1;

padding:18px;

border:none;

border-radius:20px;

background:#1d1d1d;

color:white;
}

.chat-input button{

width:60px;

border:none;

border-radius:18px;

background:#1677ff;

color:white;

font-size:22px;
}
/* MOBILE RESPONSIVE */

@media(max-width:768px){

nav{

padding:20px;
flex-direction:column;
gap:20px;

}

nav ul{

gap:20px;
padding:0;

font-size:14px;
}

.hero{

height:auto;
padding-bottom:120px;
}

.hero-content{

padding:80px 25px;
}

.left h2{

font-size:58px;
line-height:1.1;
}

.left p{

font-size:24px;
width:100%;
line-height:1.5;
}

.left button{

width:220px;
font-size:22px;
padding:18px;
}

/* CHAT BUTTON */

.floating-btn{

width:70px;
height:70px;

font-size:34px;

right:20px;
bottom:20px;
}

/* CHAT PANEL */

.chat-panel{

width:92%;
height:75vh;

right:4%;
bottom:110px;

border-radius:30px;
}

.chat-header h3{

font-size:26px;
}

.chat-logo{

width:50px;
height:50px;
}

.chat-body{

padding:15px;
}

.ai-message{

font-size:18px;
line-height:1.5;

max-width:75%;
}

.user-message{

font-size:18px;
}

.chat-input{

padding:15px;
}

.chat-input input{

font-size:18px;
padding:16px;
}

.chat-input button{

width:55px;
font-size:22px;
}

/* SERVICES */

.services{

padding:70px 25px;
}

.cards{

flex-direction:column;
}

.card{

width:auto;
}

/* CONTACT */

.contact{

padding:70px 25px;
}

footer{

font-size:18px;
padding:30px;
}

}
