<!DOCTYPE html>
<html>

<head>

    <title>SOLTAI AI</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body>

<div class="overlay"></div>

<nav>

    <div class="logo">
        SOLTAI
    </div>

    <ul>

        <li>Home</li>
        <li>Services</li>
        <li>AI</li>
        <li>Contact</li>

    </ul>

</nav>


<section class="hero">

    <div class="left">

        <h1>
            AI Powered <br>
            Future Solutions
        </h1>

        <p>
            Welcome to SOLTAI AI.
            Build smart systems with AI technology.
        </p>

        <button>
            Get Started
        </button>

    </div>

</section>


<!-- FLOATING BUTTON -->

<div class="chat-toggle" onclick="toggleChat()">
    S
</div>


<!-- CHATBOX -->

<div class="chat-box" id="chatBox">

    <div class="chat-header">

        <div class="chat-logo">
            S
        </div>

        <div>

            <h2>SOLTAI AI</h2>
            <span>● Online</span>

        </div>

    </div>


    <div class="chat-body" id="chatBody">

        <div class="ai-message">
            Hello 👋
        </div>

    </div>


    <div class="chat-input">

        <input
        type="text"
        id="message"
        placeholder="Ask SOLTAI AI anything...">

        <button onclick="sendMessage()">
            →
        </button>

    </div>

</div>


<script
src="{{ url_for('static', filename='script.js') }}">
</script>

</body>
</html>
